;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.1.0"]
  [applied-science/js-interop "0.3.1"]]

 :builds
 {:app
  {:target :browser
   :output-dir "../../shared-resources/public/js"
   :asset-path "/js"
   :modules {:app {:init-fn reagent.inertia/init!}}}
  :ssr
  {:target :node-script
   :main reagent.ssr/main
   :output-to "output/ssr.js"}}}
