{:paths ["src" "../../shared-resources" "resources"]
 :deps {prestancedesign/inertia-clojure {:local/root "../../.."}
        ring/ring {:mvn/version "1.9.2"}
        metosin/reitit {:mvn/version "0.5.12"}
        selmer/selmer {:mvn/version "1.12.33"}}
 :aliases {:run {:main-opts ["-m" "inertia-example"]}}}
